@page
@model Stripovi.Web.Pages.AdministratorModel
@{
}

<a class="btn btn-primary" asp-page="Administrator/Stripovi/Index">Stripovi</a>
<a class="btn btn-primary" asp-page="Administrator/Porudzbine/Index">Porudzbine</a>