@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="text-center">

    @if (Model.Stripovi != null)
    {
        @foreach (var item in Model.Stripovi)
        {
            <ul>
                <li>Naziv:@item.Naziv</li>
                <li>Autor:@item.Autor</li>
                <li>.................</li>
            </ul>

        }
    }
    else
    {
     <a>abv: @Model.errorString  </a>
    }


    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

