@page
@model Stripovi.Web.Pages.StatusPorudzbineModel
@{
}
@{ int i = 1;}
@if (Model.Porudzbine.Any())
{
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Porudzbina</th>
                <th scope="col">Broj Porucenih Stripova</th>
                <th scope="col">Cena Porudzbine</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var item in Model.Porudzbine)
                 {
                        <tr>
                            <td>@Convert.ToString(i++)</td>
                            <td>@item.BrojPorucenihStripova</td>
                            <td>@item.UkupnaCena</td>
                        </tr>
                 }
            </tbody>
    </table>
}
else
{
    <p>Trenutno nemas ni jednu porudzbinu</p>
}